* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffcad4;
    font-family: "Rubik Gemstones", system-ui;
    text-align: center;
}

.hero{
    height: 80vh;
    background-image: url(assets/auroraebluey.jpg);
}

.hero_text{
    font-size: 82px;
    position: absolute;
    background-color: transparent;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.msg_bluey{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        margin-bottom: 36px;
        font-size: 48px;
    }
}

@media screen and (max-width: 480px) and (max-height: 780px) {
    .hero{
        height: 100vh;
        background-image: url(assets/aurorazoom.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    .hero_text{
        font-size: 20px;
        text-align: center;
    }

    .video {
        width: 180px;
        height: 180px;
    }

    .msg_bluey h2{
        font-size: 24px;
    }
}